body {
    margin: 0px;
}






.b_5 {
    background: #EEEDDE;
    display: flex;
    width: 100%;
}

.pod_b_5 {
    display: flex;
    width: 100%;
    margin: 60px 100px;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.omah {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #203239;
}

.knopki {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.knopa {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #203239;
    border-bottom: 3px solid #EEEDDE;
}

.caret {
    display: flex;
    align-self: center;
}

.caret_down {
    width: 24px;
    height: 24px;
}


.knopa:hover {
    font-weight: 600;
    border-bottom: 3px solid #F7762E;
}

.bottom_b_5 {
    display: flex;
}

.bottom_left_b_5 {
    flex-direction: column;
    display: flex;
}

.big_b_5 {
    margin: 0px;
    width: 660px;
    font-weight: 600;
    font-size: 56px;
    line-height: 150%;
    color: #203239;
}

.min_b_5 {
    margin: 0px;
    width: 450px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: rgba(32, 50, 57, 0.55);
}

.search {
    padding: 0px 20px;
    background: #FFFFFF;
    border-radius: 15px;
    width: 700px;
    height: 70px;
    display: flex;
    align-items: center;
}

.image_search {
    width: 24px;
    height: 24px;
}

.sam_search {
    width: 320px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(32, 50, 57, 0.55);
    border: 0px;
    padding-left: 15px;
}

.button_b_5 {
    padding: 13px 41px;
    background: #203239;
    border-radius: 10px;   
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF; 
    margin-left: auto;
}

.button_b_5:hover {
    padding: 14px 42px;
}

.three_num {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.block_b_5 {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.number_b_5 {

}

.plus {

}

.txt_b_5 {

}

.bottom_right_b_5 {

}

.image_b_5 {

}























/* СЛЕД БЛОК */

.b_4 {
    background: #FFFFFF;
    width: 100%;
    display: flex;
}

.pod_b_4 {
    display: flex;
    width: 100%;
    margin: 100px 100px;
    flex-direction: column;
}

.big_txt_b_4 {
    margin: 0px;
    width: 500px;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #203239;
}

.bloki_b_4 {
    margin-top: 64px;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.block_b_4 {
    border: 1px solid #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
}

.block_b_4:hover {
    border: 1px solid #EEEDDE;
}

.top_b_4 {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.bord_orange {
    height: 30px;
    background: #FF7527;
    border-radius: 5px;
}

.txt_top_block {
    font-size: 16px;
    line-height: 24px;
    color: #203239;
}

.zero {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FF7527;
}

.txt_b_4 {
    margin: 0px;
    width: 220px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: rgba(32, 50, 57, 0.55);
}

.block_baca {
    margin: 0px;
    display: inline-flex;
    margin-top: auto;
    align-items: center;
}

.baca {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #203239;
}

.icon_baca {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.icon_baca:hover {
    width: 34px;
}

/* СЛЕД БЛОК */

.b_3 {
    display: flex;
    margin: 0px;
    background: #EEEDDE;
    width: 100%;
}

.pod_b_3 {
    width: 100%;
    margin: 68px 100px;
    display: flex;
    flex-direction: column;
}

.min_txt_b_3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FF7527;
    margin: 0px;
}

.big_txt_b_3 {
    margin: 0px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #203239;
}

.bottom_b_3 {
    margin-top: 64px;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.bot_left_b_3 {
    width: 525px;
    height: 550px;
    display: flex;
}

.img1_b_3 {
    position: absolute;
}

.img2_b_3 {
    position: absolute;
    margin-left: 85px;
    margin-top: 60px;
}

.bot_right_b_3 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 540px;
    height: 320px;
}

.txt1_right_b_3 {
    margin: 0px;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #203239;
}

.txt2_right_b_3 {
    margin: 0px;
    margin-top: 24px;
    margin-bottom: 48px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #203239;
}

.buttons_b_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button_left_b_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #203239;
    border-radius: 10px;
    width: 234px;
    height: 50px;
}

.icon_b_3 {
    width: 17px;
    height: 17px;
}

.txt1_button_b_3 {
    margin-left: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #203239;
}

.button_right_b_3 {
    margin-left: 48px;
    display: flex;
}

.txt2_button_b_3 {
    justify-content: center;
    align-items: center;
    padding: 13px 41px;
    background: #203239;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/* СЛЕД БЛОК */

.block_three_img {
    margin: 0px;
    width: 100%;
    display: flex;
    background: #FFFFFF;
}

.osn_block_three {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 68px 100px;
}

.min_txt_1 {
    margin: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FF7527;
}

.top_three {
    align-items: center;
    display: inline-flex;
}

.big_txt_1 {
    display: inline-flex;
    margin: 0px;
    height: auto;
    margin-top: 8px;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #203239;    
}

.strelki {
    margin-left: auto;
    width: 84px;
    justify-content: space-between;
    display: flex;
}

.strelka_1 {
    width: 24px;
    height: 24px;
    border: 2px solid rgb(168, 168, 168);
    border-radius: 8px;
}

.strelka_1:hover{
    border: 2px solid orange;
}

.vse_foto_text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 64px;
}

.pic_1 {
    display: flex;
    flex-direction: column;
}

.pikcha {
    width: 357px;
    height: 454px;
    margin-bottom: 8px;
}

.big_txt_0 {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #203239;
    margin: 0px;
    margin: 8px 0px;
}

.txt_3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #203239;
    margin: 0px;
    width: 350px;
}

/* СЛЕД БЛОК */

.block_0 {
    display: flex;
    background: #EEEDDE;
    width: 100%;
}

.b_0_container {
    display: flex;
    margin: 48px 100px;
    width: 100%;
}

.all_left {
    display: flex;
    flex-direction: column;
}

.txt_1 {
    margin: 0px;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #203239;
    display: flex;
}

.txt_1_1 {
    margin: 0px;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #203239;
    display: flex;
    padding-left: 20px;
}

.borders {
    display: flex;
    flex-direction: row;
    margin-top: 63px;
}

.block {
    border: 1px solid rgba(255, 117, 39, 0.5);
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.block__ {
    border: 1px solid rgba(255, 117, 39, 0.5);
    padding: 24px;
    display: flex;
    flex-direction: column;
    margin-left: 48px;
}

.column { 
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.img_phone {
    align-self: center;
    display: flex;
    width: 32.93px;
    height: 32.92px;
}

.txt_2_1 {
    width: 120px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #203239;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-left: 16px;
}

.txt_2_2 {
    width: 160px;
    height: 56px;       
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #203239;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-left: 16px;
}

.Call_Now {
    background: rgba(255, 117, 39, 0.2);
    border-radius: 10px;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF7527;
    padding: 13px 41px;
    margin: 0px;
    justify-content: center;
}

.img_email {
    display: flex;
    width: 40.52px;
    height: 33.06px;
}

.Email_Now {
    display: flex;
    border: 0px;
    padding: 13px 41px;
    margin: 0px;
    background: rgba(255, 117, 39, 0.8);
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #EEEDDE;
    justify-content: center;
}

.all_right {
    flex-direction: column;
    display: flex;
    margin-left: auto;
}

.two_img {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.images_left { 
    align-self: center;
    display: flex;
    width: 156px;
    height: 104px;
}

.images_right {
    margin: 0px;
    margin-left: 32px;
    align-self: center;
    display: flex;
    width: 211.11px;
    height: 152px;
}

/* СЛЕД БЛОК */

.footer {
    display: flex;
    background: #203239;
}

.osnova {
    padding: 0px 100px;
    width: 100%;
    height: auto;
    display: flex;
}

.block_1 {
    margin: 0px;
    display: flex;
    padding: 38px 0px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #EEEDDE;
}

.block_2 {
    display: flex;
    justify-content: space-between;
    width: 288px;
    margin: auto auto;
    margin-right: 0px;
}

.img_all {
    width: 18.48px;
    height: 18.48px;
    display: flex;
}
