a {
  color: #203239;
  text-decoration: None;
}

/* Тело */
body {

}

/* Первый блок */
.block_1 {
  margin-top: 0px;
  float: left;
  position: static;
  width: 100%;
  height: auto;
  background: #EEEDDE;
}

/* Первый блок, меню */
.b_1_top {
  width: 100%;
  height: auto;
  padding-right: 100px;
}

/* 0~Mah */
.mah {
  float: left;
  font-weight: 600;
  font-size: 32px;
  width: 7%;
  height: 28px;
  padding-left: 8%;
  padding-top: 3%;
  color: #203239;
}

/* menu */
.menu {
  font-style: normal;
  font-size: 20px;
  float: left;
  padding-top: 3.5%;
  padding-left: 40%;
  width: 35%;
}

/* Home */
.tx_1 {
  float: left;
  font-weight: 600;
  padding-right: 100px;
}

/* подчеркивание Home */
.bord {
  width: 51px;
  height: 23px;
  border-bottom: 4px solid #F7762E;
  border-radius: 3px;
}

/* About */
.tx_2 {
  float: left;
  padding-right: 100px;
}

/* Properties */
.tx_3 {
  float: left;
  padding-right: 100px;
}

/* Contact */
.tx_4 {
  float: left;
}

/* Первый блок основная часть */
.b_1_bottom {

}

/* Основная, левая часть первого блока */
.b_1_left {
  float: left;
  margin-left: 4.8%;
}

/*  */
.Big_text_1 {
  width: 750px;
  height: 168px;
  margin-top: 100px;
  font-weight: 600;
  font-size: 56px;
  line-height: 150%;
  padding-left: 8%;
  color: #203239;
}

/*  */
.Small_text_1 {
  width: 470px;
  height: 60px;
  padding-left: 8%;
  margin-top: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: rgba(32, 50, 57, 0.55);
}

/* Поисковая система */
.Search {
  background: #FFFFFF;
  width: 600px;
  height: 70px;
  margin-left: 8%;
  margin-top: 56px;
  border-radius: 15px;
}

/*  */
.Mesto {
  width: 25px;
  height: auto;
  margin-left: 20px;
}

/*  */
.Sam_search {
  width: 340px;
  margin-left: 11px;
  margin-top: 25px;
  color: rgba(32, 50, 57, 0.55);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  border: 0px;
  outline: None;
}

/*  */
.Button_1 {
  background: #203239;
  width: 140px;
  height: 50px;
  margin-left: 40px;
  border-radius: 10px;
}

/*  */
.text_but_1 {
  width: 58px;
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 12px;
  margin-left: 3px;
}

/*  */
.bottom_3_col {
  width: 590px;
  height: 144px;
  padding-left: 8%;
  margin-top: 10px;
  margin-bottom: 120px;
}

/*  */
.Bot_1_3_col {
  align-items: center;
  padding: 0px;
  width: 149px;
  height: 144px;
  float: left;
}

/*  */
.text_1_3_1 {
  padding-top: 0px;
  font-weight: 600;
  font-size: 56px;
  line-height: 150%;
  width: 100px;
  height: 30px;
  color: #203239;
  float: left;
}

/*  */
.text_1__ {
  width: 40px;
  height: 30px;
  font-weight: 600;
  font-size: 56px;
  line-height: 150%;
  float:left;
  color: #FF7527;
}

/*  */
.text_1_3_2 {
  width: 140px;
  height: 140px;
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
  color: rgba(32, 50, 57, 0.55);
}

/*  */
.Bot_2_3_col {
  margin-left: 71px;
  align-items: center;
  padding: 0px;
  width: 149px;
  height: 144px;
  float: left;
}

/*  */
.text_2_3_1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 150%;
  width: 60px;
  height: 10px;
  color: #203239;
  float: left;
}

/*  */
.Tahun {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 100px;
  line-height: 150%;
  float: left;
  width: 80px;
  height: 10px;
  color: #FF7527;
  font-size: 18px;
  font-weight: 700;
}

/*  */
.text_2_3_2 {
  width: 140px;
  height: 140px;
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
  color: rgba(32, 50, 57, 0.55);
  float: left;
}

/*  */
.Bot_3_3_col {
  margin-left: 71px;
  align-items: center;
  padding-top: 0px;
  width: 100px;
  height: 30px;
  float: left;
}

/*  */
.text_3_3_1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 150%;
  width: 90px;
  height: 10px;
  color: #203239;
  float: left;
}

/*  */
.text_3__ {
  width: 10px;
  height: 10px;
  font-weight: 600;
  font-size: 56px;
  line-height: 150%;
  float:left;
  color: #FF7527;
}

/*  */
.text_3_3_2 {
  width: 149px;
  height: 144px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: rgba(32, 50, 57, 0.55);
  float: left;
}

/* Основная, правая часть первого блока */
.b_1_right {
  float: left;
  position: absolute;
  width: 460px;
}

/*  */
.im_1 {
  float: left;
  margin-left: 1000px;
  margin-top: 120px;
  width: 480px;
  position: absolute;
  transform: matrix(1, 0, 0, 1, 0, 0);
}



/* Второй блок */
.block_2 {
  width: 100%;
  height: auto;
  background-color: white;
  padding-top: 0px;
  float: left;
}

/*  */
.b_2_top {
  width: 100%;
  height: 108px;
  margin-top: 100px;
}

/*  */
.b_2_text {
  text-align: center;
  color: #203239;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
}

/*  */
.botom_2 {
  width: auto;
  height: 300px;
  margin-left: 3%;
  margin-top: 64px;
  margin-right: 3%;
  margin-bottom: 100px;
}

/*  */
.botom_2_1 {
  width: 300px;
  height: 300px;
  margin-left: 10%;
  margin-top: 0px;
  border: 1px solid #EEEDDE;
  box-sizing: border-box;
  border-radius: 10px;
  float: left;
}

/*  */
.Bor_orange {
  width: 8px;
  height: 30px;
  margin-left: 0px;
  margin-top: 17px;
  background: #FF7527;
  border-radius: 5px;
  float: left;
}

/*  */
.Pilih {
  float: left;
  width: 100px;
  height: 24px;
  margin-left: 33px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #203239;
}

/*  */
.p_01 {
  width: 16px;
  height: 24px;
  margin-left: 132px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FF7527;
  float: left;
}

/*  */
.txt_1 {
  width: 190px;
  height: 150px;
  margin-left: 40px;
  margin-top: 52px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: rgba(32, 50, 57, 0.55);
}

/*  */
.min_txt_1 {
  width: 139px;
  height: 24px;
  margin-left: 40px;
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #203239;
  float: left;
}

/*  */
.napravo_1 {
  width: 20px;
  float: left;
  margin-top: 42px;
}

/*  */
.botom_2_2 {
  width: 300px;
  height: 300px;
  padding-left: 15%;
  border-radius: 10px;
  float: left;
  overflow: auto;
}

/*  */
.Proses {
  width: 122px;
  height: 24px;
  margin-left: 33px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #203239;
  float: left;
}

/*  */
.p_02 {
  width: 20px;
  height: 24px;
  margin-left: 110px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FF7527;
  float: left;
}

/*  */
.botom_2_3 {
  width: 300px;
  height: 300px;
  margin-right: 10%;
  margin-top: 0px;
  border-radius: 10px;
  float: right;
}

/*  */
.KPR {
  width: 148px;
  height: 24px;
  margin-left: 33px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #203239;
  float: left;
}

/*  */
.p_03 {
  width: 20px;
  height: 24px;
  margin-left: 84px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FF7527;
  float: left;
}



/* Третий блок */
.block_3 {
  width: 100%;
  height: auto;
  margin-top: 0px;
  background: #EEEDDE;
  float: left;
}

/*  */
.zag_1 {
  width: 144px;
  height: 24px;
  margin-left: 8%;
  margin-top: 68px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FF7527;
}

/*  */
.zag_2 {
  width: 300px;
  height: 54px;
  margin-left: 8%;
  margin-top: 8px;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #203239;
}

/*  */
.pictures {
  margin-top: 64px;
  margin-left: 8%;
  width: 400px;
  height: 558px;
  float: left;
}

/*  */
.pic_2_1 {
  position: absolute;
  padding-top: 0px;
  height: 455px;
  border-radius: 8px;
}

/*  */
.pic_2_2 {
  position: absolute;
  margin-top: 60px;
  margin-left: 95px;
  height: 490px;
  border-radius: 11px;
}

/*  */
.block_txt {
  width: 577px;
  height: 320px;
  margin-left: 450px;
  margin-top: 40px;
  float: left;
}

/*  */
.Big_txt_ {
  width: 450px;
  height: 108px;
  margin-left: 0px;
  margin-top: 0px;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #203239;
}

/*  */
.Min_txt_ {
  width: 450px;
  height: 90px;
  margin-left: 0px;
  margin-top: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #203239;
}

/*  */
.But_c_1 {
  background: #EEEDDE;
  margin-top: 5px;
  width: 234px;
  height: 50px;
  border: 1px solid #203239;
  border-radius: 10px;
  float: left;
}

/*  */
.txt_c_1 {
  width: 116px;
  padding: auto;
  margin-top: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #203239;
  float: left;
}

/*  */
.znak {
  width: 17px;
  margin-top: 5px;
  margin-right: 16px;
  margin-left: 30px;
  float: left;
}

/*  */
.But_c_2 {
  margin-top: 3px;
  margin-left: 48px;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 39px;
  width: 160px;
  height: 30px;
  background: #203239;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}



/* Четвертый блок */
.block_4 {
  margin-top: 0px;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  float: left;
}


/*  */
.Pilihan {
  margin-top: 68px;
  width: 117px;
  height: 24px;
  margin-left: 8%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FF7527;
}


/*  */
.Residen {
  width: 428px;
  height: 54px;
  margin-top: 8px;
  margin-left: 8%;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #203239;
  float: left;
}


/*  */
.znaki_1 {
  width: 84px;
  height: 30px;
  padding-left: 1047px;
  margin-top: 15px;
  margin-right: 8%;
  float: left;
}


/*  */
.vlevo_1 {
  height: 15px;
  border: 0px;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f0f0ef;
  float: left;
}


/*  */
.vpravo_1 {
  height: 15px;
  margin-left: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #EEEDDE;
  border-radius: 6px;
  float: left;
}


/*  */
.three_img {
  margin-left: 8%;
  height: auto;
  width: 76%;
  float: left;
  padding-right: 8%;
  margin-bottom: 68px;
}


/*  */
.left_img {
  float: left;
  width: 357px;
}

/*  */
.sam_left_img {
  width: 357px;
  height: 454px;
  border-radius: 10px;
}

/*  */
.sam_zag_1 {
  margin-top: 16px;
  width: 262px;
  height: 36px;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #203239;
}

/*  */
.sam_txt_1 {
  width: 310px;
  height: 90px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #203239;
}


/*  */
.center_img {
  margin-left: 181px;
  float: left;
}

/*  */
.sam_center_img {
  width: 357px;
  height: 454px;
  border-radius: 10px;
}

/*  */
.sam_zag_2 {
  width: 262px;
  height: 36px;
  margin-top: 16;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #203239;
}

/*  */
.sam_txt_2 {
  width: 356px;
  height: 60px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #203239;
  margin-top: 8px;
}


/*  */
.right_img{
  margin-left: 181px;
  float: left;
}

/*  */
.sam_right_img {
  width: 357px;
  height: 454px;
  border-radius: 10px;
}

/*  */
.sam_zag_3 {
  width: 262px;
  height: 36px;
  margin-top: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #203239;
}

/*  */
.sam_txt_3 {
  width: 332px;
  height: 90px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #203239;
  margin-top: 16px;
}



/* Пятый блок */
.block_5 {
  width: 100%;
  height: auto;
  background: #EEEDDE;
  float: left;
}

/*  */
.Hubungi {
  margin-top: 0px;
  float: left;
  width: 261px;
  height: 54px;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #203239;
}

/*  */
.block5_all_left {
  margin-top: 48px;
  width: auto;
  float: left;
  margin-bottom: 48px;
  margin-left: 8%;
}

/*  */
.block5_left {
  margin-top: 23px;
  width: auto;
  height: auto;
  float: left;
}

/*  */
.block5_left_left {
  padding: 24px;
  width: 230px;
  height: 178px;
  border: 1px solid rgba(255, 117, 39, 0.5);
  border-radius: 10px;
  float: left;
}

/*  */
.image_1 {
  width: 34px;
  height: 34px;
  margin-left: 14px;
  margin-top: 18px;
  float: left;
}

/*  */
.p_1 {
  margin-top: 7px;
  margin-left: 50px;
  width: 131px;
  height: 56px;
  float: left;
  line-height: 28px;
}

/*  */
.butt_1 {
  padding: 13px 41px;
  width: 195px;
  height: 50px;
  margin-left: 18px;
  margin-top: 24px;
  border: 0px;
  top: 104px;
  background: rgba(255, 117, 39, 0.2);
  border-radius: 10px;
}

/*  */
.a_1 {
  width: 72px;
  height: 24px;
  padding-left: 0px;
  padding-top: 13px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FF7527;
  margin: 0px 10px;
}

/*  */
.block5_left_right {
  margin-left: 48px;
  float: left;
  padding: 24px;
  width: 306px;
  height: 178px;
  left: 291px;
  border: 1px solid rgba(255, 117, 39, 0.5);
}

/*  */
.image_2 {
  margin-top: 18px;
  width: 48px;
  height: 48px;
  float: left;
}

/*  */
.p_2 {
  margin-top: 12px;
  margin-left: 60px;
  width: 160px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #203239;
  float: left;
}

/*  */
.butt_2 {
  padding: 13px 41px;
  width: 195px;
  height: 50px;
  left: 55.5px;
  top: 104px;
  border: 0px;
  background: rgba(255, 117, 39, 0.8);
  border-radius: 10px;
  margin-left: 12px;
  margin-top: 54px;
}

/*  */
.a_2 {
  width: 85px;
  height: 24px;
  left: 55px;
  top: 13px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #EEEDDE;
  margin: 0px 10px;
}

/*  */
.block5_all_right {
  width: 399.11px;
  height: 245px;
  margin-top: 12px;
  margin-left: 400px;
  float: left;
}

/*  */
.top_right_zag {
  margin-left: 30px;
  width: 253px;
  height: 54px;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #203239;
}

/*  */
.left_picture {
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 156px;
  height: 104px;
  float: left;
}

/*  */
.right_picture {
  margin-left: 32px;
  margin-bottom: 0px;
  width: 211.11px;
  height: 152px;
  float: left;
}



/* Нижняя полоса */
footer {
  width: 100%;
  height: auto;
  background: #203239;
  float: left;
}


/*  */
.p_end {
  width: 72px;
  height: 42px;
  margin-left: 8%;
  margin-top: 40px;
  font-weight: 600;
  line-height: 28px;
  font-size: 36px;
  color: #EEEDDE;
  margin-bottom: 31px;
  float: left;
}





.soc_set {
  padding: 0px;
  width: 288px;
  height: 24px;
  margin-left: 1100px;
  margin-top: 40px;
  margin-bottom: 31px;
  float: left;
}


/*  */
.inst {
  width: 24px;
  height: 24px;
  left: 11.7%;
  right: 11.7%;
  top: 11.64%;
  bottom: 11.63%;
  float: left;
  margin-left: 0px;
}


/*  */
.face {
  margin-left: 64px;
  width: 24px;
  height: 24px;
  left: 28.65%;
  right: 29.06%;
  top: 11.98%;
  bottom: 11.98%;
  float: left;
}


/*  */
.t {
  margin-left: 64px;
  width: 24px;
  height: 24px;
  left: 29.17%;
  right: 29.25%;
  top: 12.5%;
  bottom: 14.84%;
  float: left;
}

/*  */
.in {
  margin-left: 64px;
  width: 24px;
  height: 24px;
  left: 10.94%;
  right: 10.94%;
  top: 7.81%;
  bottom: 11.98%;
  float: left;
}
